//-footer
mj-section
    mj-column
        mj-text(padding="0" padding-bottom="8px" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Arrêtez de vendre les glaces des autres. Créez les vôtres.
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Vos clients le sentiront... et votre chiffre d'affaires aussi.
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Vous recevrez des fiches de recettes simples et claires pour vous guider pas à pas.
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Vous apprendrez comment personnaliser vos glaces, trouver le bon équilibre des ingrédients et créer vos propres recettes, même sans expérience.
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") L'objectif&nbsp;: que vous deveniez un créateur de saveurs, capable de surprendre et de régaler vos clients avec des glaces maison uniques et naturelles.
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") visitez notre site web&nbsp;:
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") 
            img(style="padding:0;vertical-align:middle;" width="30px" src="images/iconGlobe.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;www.formationglacier.com
        mj-text(padding="8px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Nos formations sont suivies partout : France, Europe, monde entier.
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") 100&nbsp;% de satisfaction. 100&nbsp;% de réussite.
        mj-text(padding="5px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Des pros comme vous nous ont fait confiance.
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801")
            img(style="padding:0;vertical-align:middle" width="30px" src="images/iconFusee.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;Et vous, qu'attendez-vous ?
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801")
            img(style="padding:0;vertical-align:middle" width="30px" src="images/iconCible.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;Devenez un vrai Artisan Glacier. Et faites la différence.
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801")
            img(style="padding:0;vertical-align:middle" width="30px" src="images/iconPhone.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;Appelez-nous&nbsp;: +33 6 11 51 89 5