mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="90%")
        mj-text(padding="0" align="center" font-family="Lobster, sans-serif" font-size="30px" font-style="normal" line-height="36px" font-weight="400") Vous êtes restaurateur, traiteur, pizzaiolo, boulanger, chocolatier ou artisan ?
        mj-spacer(height="15px")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-style="normal" line-height="22px" font-weight="700" letter-spacing="1px" color="#260801") Et si vos clients revenaient pour vos propres glaces artisanales maison ?
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="20px" font-weight="400" letter-spacing="0.5px" color="#260801")
            img(padding="0" width="30px" src="images/iconIndex.png" alt="")/
            span(style="vertical-align:top") &nbsp;&nbsp;On vous forme. Vous créez. Ils reviennent.
mj-section(padding="0 20px" background-color="#ffffff")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/vendeuseGlace.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="90%")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") #[span(style="font-weight:700") Aucune expérience&nbsp;?] Justement, cette formation est faite pour vous. La formation est assurée par un #[span(style="font-weight:700;") Maître Artisan Glacier], expert de la glace artisanale. Pas besoin d'être glacier. Pas besoin d'expérience.
        mj-button(padding="20px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" line-height="20px" font-weight="700" letter-spacing="1px" text-transform="uppercase" background-color="#260801" color="#ffffff" href="#") Je m'inscris
mj-section(padding="10px 10px" background-color="#ffffff")
    mj-group(width="50%")
        mj-column(padding="10px" width="50%")
            mj-image(padding="0" width="200px" fluid-on-mobile="true" src="images/Glacier1.png" alt="")/
        mj-column(padding="10px" width="50%")
            mj-image(padding="0" width="200px" fluid-on-mobile="true" src="images/Glacier2.png" alt="")/
    mj-group(width="50%")
        mj-column(padding="10px" width="50%")
            mj-image(padding="0" width="200px" fluid-on-mobile="true" src="images/Glacier3.png" alt="")/
        mj-column(padding="10px" width="50%")
            mj-image(padding="0" width="200px" fluid-on-mobile="true" src="images/Glacier4.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="90%")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="400" letter-spacing="0.5px" color="#260801") Vous êtes guidé étape par étape pour apprendre à fabriquer des glaces, des crèmes glacées et sorbets plein fruit, 100&nbsp;% naturels, sans colorants, sans arômes artificiels, sans poudre industrielle.
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-style="normal" line-height="22px" font-weight="700" letter-spacing="0.5px" color="#260801") Juste du vrai, du bon, du fait maison.
        mj-button(padding="20px 0" font-family="Arial, Helvetica, sans-serif" font-size="16px" line-height="20px" font-weight="700" letter-spacing="1px" text-transform="uppercase" background-color="#260801" color="#ffffff" href="#") Je m'inscris
        mj-spacer(height="40px")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/glaces.png" alt="")/
