mj-section
    mj-column 
        mj-text Vous êtes restaurateur, traiteur, pizzaiolo, boulanger, chocolatier, artisant ?
        mj-text Et si vos clients revenaient pour vos propres glaces artisanales maison ?
        mj-text
            img(src="images/iconIndex.png" alt="")/
            | On vous forme. Vous créez. Ils reviennent.
        mj-image(src="images/vendeuseGlace.png" alt="")/
mj-section
    mj-column
        mj-text Aucune expérience ? Justement, cette formation est faite pour vous.
        mj-text La formation est assurée par un Maître Artisan Glacier, expert de la glace artisanale.
        mj-text Pas besoin d'être glacier. Pas besoin d'expérience.
mj-section
    mj-column
        mj-image(src="images/preparationGlace.png" alt="")/
    mj-column
        mj-image(src="images/verificationGlace.png" alt="")/
    mj-column
        mj-image(src="images/machineGlace.png" alt="")/
    mj-column
        mj-image(src="images/diplomeGlacier.png" alt="")/
mj-section
    mj-column
        mj-text Vous êtes guidé étape par étape pour apprendre à fabriquer des glaces, crèmes glacées et sorbets plein fruit 100 % naturels
        mj-text Sans colorants
        mj-text Sans arômes artificiels
        mj-text Sans poudre industrielle
        mj-text Juste du vrai, du bon, du fait maison.
        mj-image(src="images/glaces.png" alt="")/
mj-section
    mj-column
        mj-text Une formation 100% artisanale, accessible à tous, animée par un professionnel passionné. 
        mj-text Pourquoi laisser passer cette source de revenus évidente, alors que vous pouvez créer vos propres glaces artisanales, naturelles, sans colorants ni arômes artificiels ?
mj-section
    mj-column
        mj-image(src="images/preparationGlace.png" alt="")/
    mj-column
        mj-image(src="images/verificationGlace.png" alt="")/
    mj-column
        mj-image(src="images/machineGlace.png" alt="")/
    mj-column
        mj-image(src="images/diplomeGlacier.png" alt="")/
mj-section
    mj-column
        mj-text Vous n'y connaissez rien ? Aucun problème.
        mj-text Notre formation est faite pour les débutants comme pour les pros, et elle vous apprend à
        mj-text Fabriquer des glaces, crèmes glacées et sorbets 100% maison
        mj-text Résoudre tous les problèmes : texture, fonte, tenue en vitrine
        mj-text Valoriser VOS matières premières : chocolat, fruits, lait, etc.
mj-section
    mj-column
        mj-text Et le meilleur dans tout ça ?
        mj-text Si vous êtes travailleur indépendant, artisan inscrit à la Chambre des Métiers ou Chef d'entreprise ou son conjoint ?
        mj-text Bonne nouvelle : le coût de votre formation peut-être pris en charge, en totalité ou en partie, par l'organisme de financement dont vous dépendez.
        mj-text C'est simple et rapide : le Maître Artisan vous accompagne personnellement. Il se charge de fournir tous les documents nécessaires à la prise en charge par votre OPCO et de constituer le dossier complet pour garantir la bonne réalisation de votre projet de formation. Vous n'aurez plus qu'à signer et tamponner les documents.
        mj-text Nous sommes référencés auprès de la majorité des OPCO, tels que : afdas, agefice, fafih, opcalim, fafcea, akto, msa, vivea, fafsea, ocapiat, opco 2i, opco ep, etc.
        mj-image(src="images/bandeauOpco.png" alt="")/
        mj-text Notre organisme de formation www.formationglacier.com est certifié QUALIOPI à ce titre, nous vous accompagnons dans toutes vos démarches administratives, et nous vous aidons à constituer votre dossier de prise en charge pour que votre projet de formation se réalise dans les meilleures conditions.
        mj-image(src="images/bandeauQualiopi.png" alt="")/
        mj-text Arrêtez de vendre les glaces des autres. Créez les vôtres.
        mj-text Vos clients le sentiront... et votre chiffre d'affaires aussi.
        mj-text Vous recevrez des fiches de recettes simples et claires pour vous guider pas à pas.
        mj-text Vous apprendrez comment personnaliser vos glaces, trouver le bon équilibre des ingrédients et créer vos propres recettes, même sans expérience.
        mj-text L'objectif : que vous deveniez un créateur de saveurs, capable de surprendre et de régaler vos clients avec des glaces maison uniques et naturelles.
        mj-text visitez notre site web :
        mj-text 
            img(src="images/iconGlobe.png" alt="")/
            | www.formationglacier.com
        mj-text Nos formations sont suivies partout : France, Europe, monde entier.
        mj-text 100% de satisfaction. 100% de réussite.
        mj-text Des pros comme vous nous ont fait confiance.
        mj-text
            img(src="images/iconFusee.png" alt="")/
            | Et vous, qu'attendez-vous ?
        mj-text
            img(src="images/iconCible.png" alt="")/
            | Devenez un vrai Artisan Glacier. Et faites la différence.
        mj-text
            img(src="images/iconPhone.png" alt="")/
            | Appelez-nous : +33 6 11 51 89 59