mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="480px")
        mj-text(padding="0" align="center" font-size="24px" font-style="normal" line-height="30px" font-weight="400") Vous êtes restaurateur, traiteur, pizzaiolo, boulanger, chocolatier ou artisan ?
        mj-spacer(height="15px")
        mj-text(padding="0" align="center" font-size="18px" font-style="normal" line-height="22px" font-weight="700") Et si vos clients revenaient pour vos propres glaces artisanales maison ?
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400")
            img(padding="0" width="30px" src="images/iconIndex.png" alt="")/
            span(style="vertical-align:top") &nbsp;&nbsp;On vous forme. Vous créez. Ils reviennent.
mj-section(padding="0 20px" background-color="#ffffff")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/vendeuseGlace.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400" ) Aucune expérience ? Justement, cette formation est faite pour vous. La formation est assurée par un Maître Artisan Glacier, expert de la glace artisanale. Pas besoin d'être glacier. Pas besoin d'expérience.
mj-section(padding="10px 10px" background-color="#ffffff")
    mj-column(padding="10px" width="23%")
        mj-image(padding="0" height="125px" src="images/preparationGlace.png" alt="")/
    mj-column(padding="10px" width="23%")
        mj-image(padding="0" height="125px" src="images/verificationGlace.png" alt="")/
    mj-column(padding="10px" width="20%")
        mj-image(padding="0" height="125px" src="images/machineGlace.png" alt="")/
    mj-column(padding="10px" width="34%")
        mj-image(padding="0" height="125px" src="images/diplomeGlacier.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Vous êtes guidé étape par étape pour apprendre à fabriquer des glaces, crèmes glacées et sorbets plein fruit 100 % naturels
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Sans colorants
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Sans arômes artificiels
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Sans poudre industrielle
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Juste du vrai, du bon, du fait maison.
        mj-image(padding="0" width="600px" src="images/glaces.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Une formation 100% artisanale, accessible à tous, animée par un professionnel passionné. 
        mj-text(padding="0" align="center" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Pourquoi laisser passer cette source de revenus évidente, alors que vous pouvez créer vos propres glaces artisanales, naturelles, sans colorants ni arômes artificiels ?
mj-section(padding="10px 10px" background-color="#ffffff")
    mj-column(padding="10px" width="23%")
        mj-image(padding="0" height="125px" src="images/preparationGlace.png" alt="")/
    mj-column(padding="10px" width="23%")
        mj-image(padding="0" height="125px" src="images/verificationGlace.png" alt="")/
    mj-column(padding="10px" width="20%")
        mj-image(padding="0" height="125px" src="images/machineGlace.png" alt="")/
    mj-column(padding="10px" width="34%")
        mj-image(padding="0" height="125px" src="images/diplomeGlacier.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" align="center" font-size="24px" font-style="normal" line-height="28px" font-weight="400") Vous n'y connaissez rien ? Aucun problème.
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Notre formation est faite pour les débutants comme pour les professionnels, et elle vous apprend à
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Fabriquer des glaces, crèmes glacées et sorbets 100% maison
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Résoudre tous les problèmes : texture, fonte, tenue en vitrine
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="20px" font-weight="400") Valoriser VOS matières premières : chocolat, fruits, lait, etc.
mj-section(padding="20px 30px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" align="center" font-size="24px" font-style="normal" line-height="30px" font-weight="400") Et le meilleur dans tout ça ?
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Si vous êtes travailleur indépendant, artisan inscrit à la Chambre des Métiers ou Chef d'entreprise ou son conjoint ?
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Bonne nouvelle : le coût de votre formation peut-être pris en charge, en totalité ou en partie, par l'organisme de financement dont vous dépendez.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") C'est simple et rapide : le Maître Artisan vous accompagne personnellement. Il se charge de fournir tous les documents nécessaires à la prise en charge par votre OPCO et de constituer le dossier complet pour garantir la bonne réalisation de votre projet de formation. Vous n'aurez plus qu'à signer et tamponner les documents.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Nous sommes référencés auprès de la majorité des OPCO, tels que : afdas, agefice, fafih, opcalim, fafcea, akto, msa, vivea, fafsea, ocapiat, opco 2i, opco ep, etc.
        mj-image(padding="0" width="600px" src="images/bandeauOpco.png" alt="")/
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Notre organisme de formation www.formationglacier.com est certifié QUALIOPI à ce titre, nous vous accompagnons dans toutes vos démarches administratives, et nous vous aidons à constituer votre dossier de prise en charge pour que votre projet de formation se réalise dans les meilleures conditions.
        mj-image(padding="0" width="600px" src="images/bandeauQualiopi.png" alt="")/
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Arrêtez de vendre les glaces des autres. Créez les vôtres.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Vos clients le sentiront... et votre chiffre d'affaires aussi.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Vous recevrez des fiches de recettes simples et claires pour vous guider pas à pas.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Vous apprendrez comment personnaliser vos glaces, trouver le bon équilibre des ingrédients et créer vos propres recettes, même sans expérience.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") L'objectif : que vous deveniez un créateur de saveurs, capable de surprendre et de régaler vos clients avec des glaces maison uniques et naturelles.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") visitez notre site web :
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") 
            img(style="padding:0;vertical-align:middle;" width="30px" src="images/iconGlobe.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;www.formationglacier.com
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Nos formations sont suivies partout : France, Europe, monde entier.
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") 100% de satisfaction. 100% de réussite.
        mj-text(padding="5px 0" font-size="16px" font-style="normal" line-height="22px" font-weight="400") Des pros comme vous nous ont fait confiance.
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="22px" font-weight="400")
            img(style="padding:0;vertical-align:middle" width="30px" src="images/iconFusee.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;Et vous, qu'attendez-vous ?
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="22px" font-weight="400")
            img(style="padding:0;vertical-align:middle" width="30px" src="images/iconCible.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;Devenez un vrai Artisan Glacier. Et faites la différence.
        mj-text(padding="0" font-size="16px" font-style="normal" line-height="22px" font-weight="400")
            img(style="padding:0;vertical-align:middle;" width="30px" src="images/iconPhone.png" alt="")/
            span(style="vertical-align:middle;") &nbsp;&nbsp;Appelez-nous : +33 6 11 51 89 59