mjml
    //- Head
    mj-head
        mj-title Formation de Glaces 
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color="#f9f8f8" width="600px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header