extends templates/_layout
block content 
    mj-section(padding="20px" padding-bottom="10px")
        mj-column
            mj-text(padding="0" align="center" mj-class="T14" color="#888888") #[a(style="color:#888888" href="#") Cliquez ici pour lire le message en ligne ] |  #[a(style="color:#888888" href="#") Cliquez ici pour vous désinscrire]